*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f5c9e9;
    color: black;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, cursive, arial;
    font-size: 1.5rem;
}
h2{
    font-size: 3rem;
    margin-bottom: 20px;
    color: #9b229b;
    text-decoration: underline;
}
main{
    text-align: left;
}
/* Home Section */
header{
    background-color: #CB94F7;
    font-size: 2rem;
}
nav{
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0px 20px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(196, 131, 131);
}
.firstsection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0px;
}
.firstsection > div{
    width: 30%;
}
.leftsection{
    font-size: 2.5rem;
    /* text-align: left; */
    align-items: left;
}
.rightsection img{
    width: 500px;
    height: auto;
}
section{
    margin: 0px 50px;
    padding: 20px 0px;
}
.btn{
    margin: 0px 50px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    color: black;
}
.name{
    color: rgb(198, 32, 198);
}
/* Skills Section */
.skill img{
    width: 10%;
    height: auto;
    margin: 0px 20px;
}
/* Projects Section */
.projects ul{
    text-align: left;
    list-style-type: square;
}
.projects ul li a{
    text-decoration: none;
}
/* Contact Section */
.contact ul{
    list-style-type: none;
}
.contact ul li a{
    text-decoration: none;
}
/* Recommendations Section */
#recommendations ul{
    text-align: left;
    list-style-type: disc;
}
#recommendation-form{
    /* margin: 10px 10px; */
    display: flex;
    justify-content: space-between;
}
#new-recommendation{
    width: 90%;
    height: 30px;
    font-size: 1.5rem;
    padding: 10px;
    border: 1px solid black;
}
#recommendation-form button{
    background-color: black;
    color: white;
    font-size: 1.5rem;
    padding: 0px 10px;
    border: 1px solid black;
}
/* Footer */
footer{
    background-color: #CB94F7;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    font-size: 1.5rem;
}