*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f5c9e9;
    color: black;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, cursive, arial;
}
nav{
    height: 80px;
    background-color: #CB94F7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0px 20px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(218, 170, 170);
}
.firstsection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0px;
}
.firstsection > div{
    width: 30%;
}
.leftsection{
    font-size: 2rem;
}
.rightsection img{
    width: 80%;
}
.btn{
    background-color: white;
    padding: 0px 10px;
    border-radius: 5px;
    text-align: center;
    color: black;
}
.purple{
    color: rgb(223, 81, 223);
}